.examples-header{
    flex-direction: column;
    gap: 20px;
}
.examples-area{
    justify-content: space-between;
    margin-block-end: 30px;
    
}
.examples-card{
    width: 33%;
    position: relative;
    min-height: 400px;
    background: black;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    transition: 0.2s ease-out;
}

.examples-card:hover{
    box-shadow: 0 0 20px #229;
}
